@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


<br/>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Role List</h2>
            </div>

        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
                <div class="col-3 offset-1 text-end">
                    <a class="btn btn-outline-success form-control" asp-controller="Role" asp-action="Upsert">Create Role</a>
                </div>
            </div>
        </div>
        @if(Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <tr class="table-secondary">
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                   
                    <th>

                    </th>

                </tr>
                @foreach(var item in Model)
                {
                    <tr class="table-secondary">
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Name
                        </td>
                       
                        <td>
                            <form asp-action="Delete" asp-route-roleId="@item.Id">
                            <div class="text-center" >
                                <a asp-action="Upsert" asp-route-roleId="@item.Id" class="btn btn-info text-white mb-4" style="cursor-pointer">Edit</a>
                           @*  </div>
                            <div> *@
                           
                                <button type="submit" class="btn mb-4 btn-danger" onclick="return confirm('Are you sure you want to delete this?)">
                                    Delete
                                </button>
                                </div>
                            </form>
                        </td>

                    </tr>
                }
            </table>
        }
    </div>

</div>
